<!-- Head -->
<%- include('./partials/headMap.ejs') %>

    <!-- Navigation -->
    <%- include('./partials/nav.ejs') %>

        <!-- Start main section -->
        <main>
            <div class="container2">

                <!-- Blue line -->
                <div class="menu">
                    <div class="line"></div>
                </div>

                <!-- Title + Searchbar -->
                <div class="header-dashboard">
                    <h1>Dashboard</h1>
                    <div class="search">
                        <input type="text" name="search" placeholder="Search..">
                        <button type="submit" name="button">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>

                <!-- Dashboard-info: general information from database -->
                <div class="panel dashboard-info">
                    <div class="data-container">
                        <% data.systems.forEach(system=> { if (system.id == 250) { %>

                            <div class="name-container">
                                <h2>
                                    <%= system.name %>
                                </h2>

                                <h4>
                                    <%= system.status_label %>
                                </h4>
                            </div>

                            <h3>
                                <%= system.location_description %>
                            </h3>

                            <h4>
                                Since: <%= system.status_date %>
                            </h4>

                            <h4>
                                Type: <%= system.type %>
                            </h4>
                            <% } }); %>
                    </div>
                </div>

                <!-- Map: map with interceptors -->
                <div id="js-enabled" class="map">
                    <a href="/map">
                        <div id="bubbles"></div>
                    </a>
                </div>

                <!-- When JS is disabled, this content will show -->
                <div id="js-disabled" class="map">
                    <img src="/map2-nojs.png">
                </div>



                <!-- Box 1: trash removed in total -->
                <div class="panel box-1">
                    <h2>Trash removed in total</h2>
                    <div class="col">
                        <p class="count-num" data-count="600000000">353874119</p>
                        <p>kg</p>
                    </div>
                </div>

                <!-- Box 2: trash remover Interceptor -->
                <div class="panel box-2">
                    <h2>Interceptor 006</h2>
                    <p>221.654 kg</p>
                </div>

                <!-- Box 3: image of Interceptor -->
                <div class="box-3">
                    <img class="image" src="/interceptor007.png">
                </div>

                <!-- Box 4: area of ocean covered -->
                <div class="panel box-4">
                    <h2>Area covered</h2>
                    <p>6744 km2</p>
                    <h3>equivalent to 1,187,588 football fields' worth of ocean</h3>
                </div>

                <!-- Grafiek: share with icons -->
                <div class="panel grafiek">
                    <h2>Share this dashboard</h2>
                    <p>Cleaning up the world's ocean is a global initiative requiring the support of
                        governments and individuals all over the world. Spread the word about our work to help bring
                        awareness to the
                        mission of cleaner oceans.</p>

                    <div class="social-icons">
                        <!-- Facebook -->
                        <a href="#" class="share-icon" aria-label="share on facebook">
                            <i class='bx bxl-facebook-square'></i></a>
                        <!-- Twitter -->
                        <a href="#" class="share-icon" aria-label="share on twitter">
                            <i class='bx bxl-twitter'></i></a>
                        <!-- Linkedin -->
                        <a href="#" class="share-icon" aria-label="share on linkedin">
                            <i class='bx bxl-linkedin-square'></i>
                        </a>
                        <!-- Mail -->
                        <a href="#" class="share-icon" aria-label="share with mail">
                            <i class='bx bxs-envelope'></i>
                        </a>
                    </div>
                </div>

                <!-- Share: table system statuses -->
                <div class="panel share">
                    <h2>System statuses</h2>
                    <table>
                        <tr>
                            <td class="dot">
                                <div class="pulse-container">
                                    <div class="status-pulse">
                                        <div class="pulse-marker green"></div>
                                        <h3>In operation</h3>
                                    </div>
                                </div>
                            </td>
                            <td class="amount">
                                <h4>10 interceptors</h4>
                            </td>
                        </tr>

                        <tr>
                            <td class="dot">
                                <div class="pulse-container">
                                    <div class="status-pulse">
                                        <div class="pulse-marker green"></div>
                                        <h3>Harvesting</h3>
                                    </div>
                                </div>
                            </td>
                            <td class="amount">
                                <h4>1 ocean system</h4>
                            </td>
                        </tr>

                        <tr>
                            <td class="dot">
                                <div class="pulse-container">
                                    <div class="status-pulse">
                                        <div class="pulse-marker blue"></div>
                                        <h3>Installed for testing</h3>
                                    </div>
                                </div>
                            </td>
                            <td class="amount">
                                <h4>1 interceptor</h4>
                            </td>
                        </tr>

                        <tr>
                            <td class="dot">
                                <div class="pulse-container">
                                    <div class="status-pulse">
                                        <div class="pulse-marker gray"></div>
                                        <h3>Planned</h3>
                                    </div>
                                </div>
                            </td>
                            <td class="amount">
                                <h4>1 interceptor</h4>
                            </td>
                        </tr>

                        <tr>
                            <td class="dot">
                                <div class="pulse-container">
                                    <div class="status-pulse">
                                        <div class="pulse-marker gray"></div>
                                        <h3>Contract signed</h3>
                                    </div>
                                </div>
                            </td>
                            <td class="amount">
                                <h4>1 interceptor</h4>
                            </td>
                        </tr>
                    </table>
                </div>

                <!-- More: information about interceptor -->
                <div class="panel more">
                    <h2>Information</h2>
                    <p>Interceptor 006 is the second Interceptor deployed in the Klang River, one of the 50 most
                        polluted rivers globally. This project was largely enabled by successful relationships and the
                        network we managed to build up around the deployment of Interceptor 002 in 2020.</p>

                    <p>The band Coldplay funded the build and deployment of Interceptor 005, which is also the first
                        project allocated funds from our #TeamSeas campaign. This is the first of the Interceptors to be
                        built by our manufacturing partner MHE-Demag, and
                        deployment in Malaysia.
                    </p>
                </div>
            </div>
        </main>
        <!-- End main section -->

        <!-- Scroll to top button -->
        <a href="#top" class="scroll-top">
            <i class="fas fa-arrow-up"></i>
        </a>

        <!-- Footer -->
        <%- include('./partials/footMap.ejs') %>